@(message: String)

@main("Blog"){
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    您还没有登陆，请<a href="#" data-toggle="modal" data-target="#myModal">登陆</a>
</div>
}{
<a class="navbar-brand" href="#" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-user"></span></a>
}{
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">登陆</h4>
            </div>
            <div class="modal-body">
                <div role="tabpanel">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#loggin" aria-controls="home" role="tab"
                                                                  data-toggle="tab">登陆</a></li>
                        <li role="presentation"><a href="#regist" aria-controls="profile" role="tab"
                                                   data-toggle="tab">注册</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="loggin">
                            <div id="hint" style="min-height: 20px;color: #ff0000">
                            </div>
                            <form id="loginform" action="/" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                        <input type="text" class="form-control" id="InputUsername"
                                               placeholder="用户名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                        <input type="password" class="form-control" id="InputPassword"
                                               placeholder="密码">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <input type="text" class="form-control" placeholder="验证码" id="InputValidate">
                                    <img id="captcha" src="/captcha">
                                    <a href="javascript:" onclick="refreshvalidatecode()">换一张</a>
                                </div>
                                <div class="form-group form-inline">
                                    <input type="checkbox" checked>
                                    下次自动登陆
                                    <a href="#" class="pull-right">忘记密码?</a>
                                </div>
                                <div class="login-button clearfix">
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-label="Close">关闭</button>
                                    <a href="javascript:checkloginform()" class="btn btn-primary pull-right">登陆</a>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="regist">
                            <div id="hintregist" style="min-height: 20px;color: #ff0000">
                            </div>
                            <form id="registform" action="/" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                        <input type="text" class="form-control" id="InputUsernameregist"
                                               placeholder="用户名（6-10个字母或汉字）">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                        <input type="password" class="form-control" id="InputPasswordregist"
                                               placeholder="密码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-check"></span></div>
                                        <input type="password" class="form-control" id="InputPasswordconfirmregist"
                                               placeholder="确认密码">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <input id="InputValidateregist" type="text" class="form-control" placeholder="验证码">
                                    <img id="captcharegist" src="/captcha">
                                    <a href="javascript:" onclick="refreshvalidatecode()">换一张</a>
                                </div>
                                <div class="login-button clearfix">
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-label="Close">关闭</button>
                                    <a href="javascript:checkregistform()" class="btn btn-primary pull-right">注册</a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <article id="1" class="post tag-about-ghost tag-release">

                    <div class="post-head">
                        <a href="javascript:" class="pull-right" data-toggle="popover" data-trigger="focus" data-placement="bottom"><span class="glyphicon glyphicon-menu-down"></span></a>
                        <h1 class="post-title"><a href="/ghost-0-6-0-released/">Ghost 0.6.0 版本正式发布</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="date" datetime="2015-04-21">2015年04月21日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.6.0 已经正式发布了！Github、npm、Ghost.org 和 GhostChina.com 上已经都可以下载了。Ghost 0.6.0
                            的代码有了很多改变，同时也增加了很多功能、修改了很多 bug。 主要变化 [新增] 编辑器增加了拼写检查（针对的是英文</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-6-0-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a><a href="/tag/release/">新版本发布</a>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">展开评论</a>
                        </div>
                    </footer>
                    <div class="collapse" id="collapseExample" style="margin-top: 10px">
                        <div class="well">
                            <div class="commentbox clearfix">
                                <input type="text" class="form-control">
                                <button type="button" class="btn btn-default pull-right" style="margin: 10px 0">评论</button>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="..." alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Media heading</h4>
                                    ...
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="..." alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Media heading</h4>
                                    ...
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="..." alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Media heading</h4>
                                    ...
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article id="2" class="post tag-about-ghost tag-release">

                    <div class="post-head">
                        <a href="javascript:" class="pull-right" data-toggle="popover" data-trigger="focus" data-placement="bottom"><span class="glyphicon glyphicon-menu-down"></span></a>
                        <h1 class="post-title"><a href="/ghost-0-6-0-released/">Ghost 0.6.0 版本正式发布</a></h1>

                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="date" datetime="2015-04-21">2015年04月21日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.6.0 已经正式发布了！Github、npm、Ghost.org 和 GhostChina.com 上已经都可以下载了。Ghost 0.6.0
                            的代码有了很多改变，同时也增加了很多功能、修改了很多 bug。 主要变化 [新增] 编辑器增加了拼写检查（针对的是英文</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-6-0-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a><a href="/tag/release/">新版本发布</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id="3" class="post tag-about-ghost tag-release">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-0-6-0-released/">Ghost 0.6.0 版本正式发布</a></h1>

                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="date" datetime="2015-04-21">2015年04月21日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.6.0 已经正式发布了！Github、npm、Ghost.org 和 GhostChina.com 上已经都可以下载了。Ghost 0.6.0
                            的代码有了很多改变，同时也增加了很多功能、修改了很多 bug。 主要变化 [新增] 编辑器增加了拼写检查（针对的是英文</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-6-0-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <a href="/tag/about-ghost/">Ghost</a><a href="/tag/release/">新版本发布</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id="4" class="post tag-about-ghost tag-release">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-0-6-0-released/">Ghost 0.6.0 版本正式发布</a></h1>

                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="date" datetime="2015-04-21">2015年04月21日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.6.0 已经正式发布了！Github、npm、Ghost.org 和 GhostChina.com 上已经都可以下载了。Ghost 0.6.0
                            的代码有了很多改变，同时也增加了很多功能、修改了很多 bug。 主要变化 [新增] 编辑器增加了拼写检查（针对的是英文</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-6-0-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <a href="/tag/about-ghost/">Ghost</a><a href="/tag/release/">新版本发布</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id="5" class="post tag-about-ghost tag-release">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-0-6-0-released/">Ghost 0.6.0 版本正式发布</a></h1>

                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="date" datetime="2015-04-21">2015年04月21日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.6.0 已经正式发布了！Github、npm、Ghost.org 和 GhostChina.com 上已经都可以下载了。Ghost 0.6.0
                            的代码有了很多改变，同时也增加了很多功能、修改了很多 bug。 主要变化 [新增] 编辑器增加了拼写检查（针对的是英文</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-6-0-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <a href="/tag/about-ghost/">Ghost</a><a href="/tag/release/">新版本发布</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
            </main>
            <aside class="col-md-3 sidebar hidden-xs hidden-sm">
                <div class="widget" data-spy="affix">
                    <h4 class="title">标签云</h4>

                    <div class="content tag-cloud">
                        <a href="/tag/about-ghost/">Ghost</a>
                        <a href="/tag/release/">新版本发布</a>
                        <a href="/tag/javascript/">JavaScript</a>
                        <a href="/tag/promise/">Promise</a>
                        <a href="/tag/zhuti/">主题</a>
                        <a href="/tag/mysql/">MySQL</a>
                        <a href="/tag/nodejs/">Node.js</a>
                        <a href="/tag/ghost-in-depth/">深度玩转 Ghost</a>
                        <a href="/tag/ubuntu/">Ubuntu</a>
                        <a href="/tag/aliyun-ecs/">阿里云服务器</a>
                        <a href="/tag/nginx/">Nginx</a>
                        <a href="/tag/bae/">BAE</a>
                        <a href="/tag/theme/">Theme</a>
                        <a href="/tag/customize-page/">自定义页面</a>
                        <a href="/tag/static-page/">静态页面</a>
                        <a href="/tag/upload/">上传</a>
                        <a href="/tag/yong-hu-zhi-nan/">用户指南</a>
                        <a href="/tag/sqlite/">sqlite</a>
                        <a href="/tag-cloud/">...</a>
                    </div>
                </div>
            </aside>
            <aside id="navbar-example" class="col-md-1 sidebar hidden-xs hidden-sm">
                <ul class="nav nav-tabs nav-pills nav-stacked" data-spy="affix">
                    <li class="active"><a href="#0" style="font-size: 0.78em">最近</a></li>
                    <li><a href="#">2015</a></li>
                    <li class="month"><a href="#1">3月</a></li>
                    <li class="month"><a href="#2">1月</a></li>
                    <li><a href="#">2014</a></li>
                    <li class="month"><a href="#3">6月</a></li>
                    <li class="month"><a href="#4">2月</a></li>
                    <li><a href="#">2013</a></li>
                    <li class="month"><a href="#5">7月</a></li>
                </ul>
            </aside>
        </div>
    </div>
</section>

}{
<script>

    var refreshvalidatecode = function(){
         var ran = Math.random()
         document.getElementById('captcha').src='/captcha?'+ran
         document.getElementById('captcharegist').src='/captcha?'+ran
         if($('#validate-ok')!=null)
            $('#validate-ok').remove()
         if($('#validate-ok-regist')!=null)
            $('#validate-ok-regist').remove()
         document.getElementById('InputValidate').value=""
         document.getElementById('InputValidateregist').value=""
    }
    var checkloginform = function(){
        var inputusername = document.getElementById('InputUsername').value
        var inputpassword = document.getElementById('InputPassword').value
        var inputvalidatecode = document.getElementById('InputValidate').value

        if(document.getElementById('InputUsername').value=='')
        {
            $("#hint").text("请您输入用户名")
            return
        }
        if(document.getElementById('InputPassword').value=='')
        {
            $("#hint").text("请您输入密码")
            return
        }
        if(document.getElementById('InputValidate').value=='')
        {
            $("#hint").text("请您输入验证码")
            return
        }

        $.get("/getpublickey",function(data,status){
            //alert("Data: " + data + "\nStatus: " + status);
            var tmp = data.split('||')
            var modulus = tmp[0]
            var exponent = tmp[1]
            var key = RSAUtils.getKeyPair(exponent, '', modulus)
            inputpassword = RSAUtils.encryptedString(key, inputpassword)
            //alert(inputpassword)
            $.post("/login",
            {
                username:inputusername,
                password:inputpassword,
                validatecode:inputvalidatecode
            },
            function(data,status){
                if(data!="ok"){
                    $("#hint").text(data)
                    refreshvalidatecode()
                }
                else{
                    $("#hint").text("")
                    window.location.href="/"
                    //document.getElementById('loginform').submit()
                }
            })
        })
    }
    var checkregistform = function(){
        var inputusername = document.getElementById('InputUsernameregist').value
        var inputpassword = document.getElementById('InputPasswordregist').value
        var inputconfirmpassword = document.getElementById('InputPasswordconfirmregist').value
        var inputvalidatecode = document.getElementById('InputValidateregist').value

        if(inputusername =='')
        {
            $("#hintregist").text("请您输入用户名")
            return
        }
        if(inputusername.length<6)
        {
            $("#hintregist").text("用户名过短")
            return
        }
        if(inputusername.length>10)
        {
            $("#hintregist").text("用户名过长")
            return
        }
        if(inputpassword =='')
        {
            $("#hintregist").text("请您输入密码")
            return
        }
        if(inputpassword!=inputconfirmpassword)
        {
            $("#hintregist").text("两次输入的密码不一样")
            return
        }
        if(inputvalidatecode=='')
        {
            $("#hintregist").text("请您输入验证码")
            return
        }
        $.get("/getpublickey",function(data,status){
            //alert("Data: " + data + "\nStatus: " + status);
            var tmp = data.split('||')
            var modulus = tmp[0]
            var exponent = tmp[1]
            var key = RSAUtils.getKeyPair(exponent, '', modulus)
            inputpassword = RSAUtils.encryptedString(key, inputpassword)
            inputconfirmpassword = RSAUtils.encryptedString(key, inputconfirmpassword)

            $.post("/regist",
            {
                username:inputusername,
                password:inputpassword,
                confirmpassword:inputconfirmpassword,
                validatecode:inputvalidatecode
            },
            function(data,status){
                //alert("Data: " + data + "\nStatus: " + status)
                if(data!="ok"){
                    $("#hintregist").text(data)
                    refreshvalidatecode()
                }
                else{
                    $("#hintregist").text("")
                    window.location.href="/"
                    //document.getElementById('registform').submit()
                }
            })
        })
    }
    $("#InputValidate").on('input',function(e){
       //console.log(this.value)
       document.getElementById('InputValidateregist').value=this.value
       if(this.value.length==5)
       {
            $.get("/validatecodeajax?code="+this.value,function(data,status){
                 //$(this).append(data);
                 //console.log("Data: " + data + "\nStatus: " + status);

                if(data=="true")
                {
                     //alert("123")
                     $('#captcha').before("<span id='validate-ok' class='glyphicon glyphicon-ok' style='color:#00ff00; vertical-align:middle'></span>")
                     $('#captcharegist').before("<span id='validate-ok-regist' class='glyphicon glyphicon-ok' style='color:#00ff00;font-size:1.3em;vertical-align:middle'></span>")
                }else{
                    if($('#validate-ok')!=null)
                         $('#validate-ok').remove()
                    if($('#validate-ok-regist')!=null)
                         $('#validate-ok-regist').remove()
                }
       })
       }else{
            if($('#validate-ok')!=null)
                $('#validate-ok').remove()
            if($('#validate-ok-regist')!=null)
                $('#validate-ok-regist').remove()
       }

    })
    $("#InputValidateregist").on('input',function(e){
        document.getElementById('InputValidate').value=this.value
        if(this.value.length==5)
        {
            $.get("/validatecodeajax?code="+this.value,function(data,status){
                if(data=="true")
                {
                     $('#captcha').before("<span id='validate-ok' class='glyphicon glyphicon-ok' style='color:#00ff00;font-size:1.3em;vertical-align:middle'></span>")
                     $('#captcharegist').before("<span id='validate-ok-regist' class='glyphicon glyphicon-ok' style='color:#00ff00;font-size:1.3em;vertical-align:middle'></span>")
                }else{
                    if($('#validate-ok')!=null)
                         $('#validate-ok').remove()
                    if($('#validate-ok-regist')!=null)
                         $('#validate-ok-regist').remove()
                }
       })
       }else{
            if($('#validate-ok')!=null)
                $('#validate-ok').remove()
            if($('#validate-ok-regist')!=null)
                $('#validate-ok-regist').remove()
       }
    })
    $('#InputUsername').on('input',function(e){
        document.getElementById('InputUsernameregist').value=this.value
    })
    $('#InputUsernameregist').on('input',function(e){
        document.getElementById('InputUsername').value=this.value
    })
</script>
}
